<a href="https://colab.research.google.com/github/jameseconnolly/jameseconnolly.github.io/blob/main/CO2_Target_Status.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [191]:
import pandas as pd

In [192]:
# // Opening my Net Zero API 
df = pd.read_csv('Net_Zero_Countries.csv')

In [193]:
# // Retaining columns
df1 = df.loc[:, ['GHG','Target Status','Net-zero Target']]

In [194]:
# // Replace NaN values (no target) with values=3000
df1['Net-zero Target'] = df1['Net-zero Target'].fillna(3000)

In [195]:
df1

              GHG             Target Status  Net-zero Target
0    2.879000e+07  Proposed / in discussion           2050.0
1    1.282900e+08        In policy document           2030.0
2    3.989100e+08      Declaration / pledge           2050.0
3    1.000000e+07        In policy document           2050.0
4    1.220000e+06        In policy document           2040.0
..            ...                       ...              ...
193  4.381100e+08        In policy document           2050.0
194  6.033000e+07        In policy document           2030.0
195  6.726000e+07        In policy document           2050.0
196  3.330000e+09                    In law           2050.0
197  1.000000e+04  Proposed / in discussion           2050.0

[198 rows x 3 columns]

In [206]:
# // If target year=3000, there is no target status
df1.loc[df1['Net-zero Target'] == 3000, 'Target Status'] = 'None'

In [207]:
# Group the data by 'Target Status'
grouped_df = df1.groupby('Target Status')

# Calculate the mean of the 'Year' and 'Gas Emissions' columns for each group
mean_df = grouped_df.mean()

# Print the resulting DataFrame
print(mean_df)

                                   GHG  Net-zero Target
Target Status
Achieved (self-declared)  2.547286e+07      2022.714286
Declaration / pledge      3.726805e+08      2050.476190
In law                    4.877302e+08      2048.095238
In policy document        3.483920e+08      2039.912500
None                      4.944286e+07      3000.000000
Proposed / in discussion  9.733491e+07      2048.679245

In [208]:
mean_df

                                   GHG  Net-zero Target
Target Status
Achieved (self-declared)  2.547286e+07      2022.714286
Declaration / pledge      3.726805e+08      2050.476190
In law                    4.877302e+08      2048.095238
In policy document        3.483920e+08      2039.912500
None                      4.944286e+07      3000.000000
Proposed / in discussion  9.733491e+07      2048.679245

In [209]:
# // Import math for log of GHG
import math
mean_df['log_GHG'] = mean_df['GHG'].apply(math.log)

In [210]:
# // Move rob labels into own column
mean_df['Target Status'] = mean_df.index

# Reset the index
mean_df = mean_df.reset_index(drop=True)

In [211]:
mean_df['Target Status'] = mean_df['Target Status'].replace({'Achieved (self-declared)': 'Achieved', 'Declaration / pledge': 'Pledge','In policy document':'In Policy','Proposed / in discussion':'Proposed'})

In [212]:
mean_df.to_csv('Target_Status.csv')