<a href="https://colab.research.google.com/github/jameseconnolly/jameseconnolly.github.io/blob/main/GHGAgainstCountryCCS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# // Import pandas for exporting/importing and math for log of GHG
import pandas as pd
import math

In [20]:
df = pd.read_csv('Net_Zero_Countries.csv')

In [21]:
# // Retain relevant columns
df1 = df.loc[:, ['Country Name', 'Country Code','population','GHG','Net-zero Target']]

In [22]:
df2 = pd.read_csv('CCS_Index.csv')

In [23]:
# // Combine my net-zero data and CCS data using concat
df_concat = pd.concat([df1, df2], axis=1)

In [24]:
df_concat1 = df_concat.loc[:, ['Country Name', 'Country Code','population','GHG','Net-zero Target', 'Carbon Capture Requirement']]

In [25]:
# // Dropping countries which had no CCS requirement data
df_concat2=df_concat1.dropna(subset=['Carbon Capture Requirement'])

In [26]:
# // Using math to log GHG. Original GHG values greatly varied in value so logarithmic y-axis was necessary
df_concat2['log_GHG'] = df_concat2['GHG'].apply(lambda x: math.log(x))

<ipython-input-26-ae114b39de75>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat2['log_GHG'] = df_concat2['GHG'].apply(lambda x: math.log(x))

In [28]:
df_concat2

,Country Name,Country Code,population,GHG,Net-zero Target,Carbon Capture Requirement,log_GHG,log_population
1,Angola,AGO,34503774.0,128290000.0,2030.0,3.0,18.669804,17.356579
2,Argentina,ARG,45276780.0,398910000.0,2050.0,14.0,19.804246,17.628305
5,Austria,AUT,8922082.0,69800000.0,2050.0,24.0,18.061145,16.004040
6,Belgium,BEL,11611420.0,108220000.0,2050.0,28.0,18.499677,16.267500
9,Bangladesh,BGD,169356251.0,237700000.0,2050.0,33.0,19.286520,18.947515
...,...,...,...,...,...,...,...,...
188,Turkey,TUR,84775404.0,459860000.0,2053.0,43.0,19.946433,18.255516
190,Ukraine,UKR,43531422.0,221290000.0,2060.0,49.0,19.214985,17.588994
191,Uzbekistan,UZB,34081449.0,185390000.0,2030.0,38.0,19.037972,17.344264
192,Venezuela,VEN,28199867.0,299600000.0,2030.0,14.0,19.517959,17.154828
193,Vietnam,VNM,97468029.0,438110000.0,2050.0,48.0,19.897981,18.395035

In [54]:
df_concat2.to_csv('Carbon_Capture_Requirement.csv', index=False)

In [34]:
# //  Easy way to check all net-zero targets, so I know what to filter my data by using picked_store in vega-lite visualisation
df_concat2['Net-zero Target'].unique().tolist()

[2030.0,
 2050.0,
 2045.0,
 2035.0,
 2000.0,
 2040.0,
 nan,
 2060.0,
 2070.0,
 2065.0,
 2053.0]

In [67]:
# //  Checking range of population to adjust data-points to population size
min_value = df_concat2['population'].min()
print(min_value)

370335.0

In [68]:
max_value = df_concat2['population'].max()
print(max_value)

1407563842.0